<%@ taglib prefix="c" uri="jakarta.tags.core" %>
<%@ taglib prefix="fmt" uri="jakarta.tags.fmt" %>
<%@ taglib prefix="fn" uri="jakarta.tags.functions" %>

<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div id="header" th:fragment="header">
    <h1>관리자페이지</h1>
    <ul>
        <li><a th:href="@{/}">사이트 메인</a>
        <li>
        <li><a th:href="@{/user/logout}">로그아웃</a>
        <li>
    </ul>
</div>
</html>