<!DOCTYPE html>
<html lang="ko"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="common/head::head(stylesheetPath = 'board', title = null)"></th:block>
<body>
<div id="container">
    <th:block th:replace="common/header::header"/>
    <div id="content">
        <div id="board">
            <form class="board-form" method="post" th:action="@{/board/update}">
                <input type="hidden" name="id" th:value="${post.id}">
                <table class="tbl-ex">
                    <tr>
                        <th colspan="2">글수정</th>
                    </tr>
                    <tr>
                        <td class="label">제목</td>
                        <td>
                            <input type="text" name="title" th:value="${post.title}">
                        </td>
                    </tr>
                    <tr>
                        <td class="label">내용</td>
                        <td>
                            <textarea id="content" name="contents"
                                      style="white-space: pre-line"
                                      th:text="${post.contents}"></textarea>
                        </td>
                    </tr>
                </table>
                <div class="bottom">
                    <a th:href="@{/board/__${post.id}__}">취소</a>
                    <input type="submit" value="수정">
                </div>
            </form>
        </div>
    </div>
    <th:block th:replace="common/navigation::navigation"/>
    <th:block th:replace="common/footer::footer"/>
</div>
</body>
</script>
</html>