<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="common/head::head(stylesheetPath = 'main', title = null)"></th:block>
<body>
<div id="container">
    <th:block th:replace="common/header::header"></th:block>
    <div id="content">
        <div id="user">
            <p class="jr-success">
                회원가입을 축하합니다.
                <br><br>
                <a th:href="@{/user/login}">로그인하기</a>
            </p>
        </div>
    </div>
    <th:block th:replace="common/navigation::navigation"/>
    <th:block th:replace="common/footer::footer"/>
</div>
</body>
</html>