<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="common/head::head(stylesheetPath = 'user', title = null)"></th:block>
<script crossorigin="anonymous"
        integrity="sha256-TXsBwvYEO87oOjPQ9ifcb7wn3IrrW91dhj6EMEtRLvM="
        src="https://code.jquery.com/jquery-1.9.0.js"></script>
<body>
<div id="container">
    <th:block th:replace="common/header::header"></th:block>
    <div id="content">
        <div id="user">
            <form id="update-form"
                  method="post"
                  name="updateForm"
                  th:action="@{/user/update}"
                  th:object="${dto}">
                <label class="block-label" for="name">이름</label>
                <input id="name"
                       name="name"
                       th:field="*{name}"
                       type="text">
                <br>
                <span th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></span>

                <label class="block-label">이메일</label>
                <h4 id="email" th:text="${user.email}"></h4>

                <label class="block-label">패스워드</label>
                <input name="password" th:field="*{password}" type="password">
                <br>
                <span th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></span>

                <fieldset>
                    <legend>성별</legend>
                    <label for="gender-female">여</label>
                    <input id="gender-female"
                           name="gender"
                           th:field="*{gender}"
                           th:value="female"
                           type="radio">
                    <label for="gender-male">남</label>
                    <input id="gender-male"
                           name="gender"
                           th:field="*{gender}"
                           th:value="male"
                           type="radio">
                </fieldset>
                <span th:errors="*{gender}" th:if="${#fields.hasErrors('gender') ? 'checked' : null}"></span>

                <input type="submit" value="수정하기">
            </form>
        </div>
    </div>
    <th:block th:replace="common/navigation::navigation"/>
    <th:block th:replace="common/footer::footer"/>
</div>
</body>
<script th:inline="javascript">
    document.getElementById('name').value = [[${user.name}]];

    const userGender = [[${user.gender}]];
    $(`#gender-${userGender}`).prop('checked', 'checked');
</script>
</html>