<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="common/"></th:block>
<c:import url="/WEB-INF/views/includes/head.jsp">
    <c:param name="stylesheetPath" value="guestbook"/>
</c:import>
<body>
<div id="container">
    <c:import url="/WEB-INF/views/includes/header.jsp"/>
    <div id="content">
        <div id="guestbook">
            <form action="${pageContext.request.contextPath }/guestbook/add" method="post">
                <table>
                    <tr>
                        <td>이름</td>
                        <td><input name="name" type="text"></td>
                        <td>비밀번호</td>
                        <td><input name="password" type="password"></td>
                    </tr>
                    <tr>
                        <td colspan=4><textarea id="content" name="contents"></textarea></td>
                    </tr>
                    <tr>
                        <td align=right colspan=4><input type="submit" value=" 확인 "></td>
                    </tr>
                </table>
            </form>
            <ul>
                <c:set value="${fn:length(list) }" var="count"/>
                <c:forEach items="${list }" var="vo" varStatus="status">
                    <li>
                        <table>
                            <tr>
                                <td>[${count-status.index }]</td>
                                <td>${vo.name }</td>
                                <td>${vo.regDate }</td>
                                <td><a href="${pageContext.request.contextPath }/guestbook/delete/${vo.id }">삭제</a></td>
                            </tr>
                            <tr>
                                <td colspan=4>
                                    ${fn:replace(vo.contents, newLine, "<br>") }
                                </td>
                            </tr>
                        </table>
                        <br>
                    </li>
                </c:forEach>
            </ul>
        </div>
    </div>
    <c:import url="/WEB-INF/views/includes/navigation.jsp"/>
    <c:import url="/WEB-INF/views/includes/footer.jsp"/>
</div>
</body>
</html>