<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="common/head::head(stylesheetPath = 'guestbook', title = null)"></th:block>
<body>
<div id="container">
    <th:block th:replace="common/header::header"/>
    <div id="content">
        <div id="guestbook">
            <form method="post" th:action="@{/guestbook/add}">
                <table>
                    <tr>
                        <td>이름</td>
                        <td><input name="name" type="text"></td>
                        <td>비밀번호</td>
                        <td><input name="password" type="password"></td>
                    </tr>
                    <tr>
                        <td colspan=4><textarea id="content" name="contents"></textarea></td>
                    </tr>
                    <tr>
                        <td align=right colspan=4><input type="submit" value=" 확인 "></td>
                    </tr>
                </table>
            </form>
            <ul>
                <li th:each="guestbook : ${list}">
                    <table>
                        <tr>
                            <td th:text="${guestbook.index}"></td>
                            <td th:text="${guestbook.name}"></td>
                            <td th:text="${guestbook.regDate}"></td>
                            <td><a th:href="@{/guestbook/delete/__${guestbook.id}__}">삭제</a></td>
                        </tr>
                        <tr>
                            <td colspan=4
                                th:text="${
                                    #strings.replace(guestbook.contents, newLine, '&lt;br&gt;')
                                }">
                            </td>
                        </tr>
                    </table>
                    <br>
                </li>
            </ul>
        </div>
    </div>
    <th:block th:replace="common/navigation::navigation"/>
    <th:block th:replace="common/footer::footer"/>
</div>
</body>
</html>